/*Colors of the website*/
$color-first:#9359DC;
$color-second:#FF79DA;
$color-thrid:#99E2D0;

$color-gradient:linear-gradient(0deg, $color-first, $color-second);
$color-hover:#e4d5f6;

/*fonts of the website*/
$font-txt:"roboto";
$font-logo:"Shrikhand";

